name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *" # todo dia
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: luizsilvino
          outputs: |
            dist/snake.svg?color_snake=#8A2BE2&color_dots=#E0E0E0,#C0C0C0,#A9A9A9,#808080,#4B0082
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
